body {
    box-sizing: content-box;
    font-family: 'Catamaran', sans-serif;
    font-size: 20px;
}

header {
    color: white;
    background-color: dimgray;
    min-height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
}

h1 {
    font-size: 40px;
    font-weight: 800;
    text-align: center;
    width: fit-content;
    margin: auto;
}

h2 {
    font-size: 30px;
    font-weight: 700;
    margin-top: 35px;
    margin-bottom: 10px;
}

h3 {
    font-size: 25px;
    font-weight: 500;
    margin-top: 30px;
    margin-bottom: 7px;
}

p {
    margin: 3px 0;
    line-height: 120%;
}

a {
    color: #00b951;
    text-decoration: none;
}

a:visited {
    color: #0078de;
}

a:hover {
    color: #00811e;
    text-decoration: underline;
    cursor: pointer;
}

a:active {
    color: #094a75;
}

main {
    max-width: 1000px;
    min-width: 400px;
    margin: auto;
    padding-top: 20px;
    padding-inline: 25px;
}

.color-box {
    height: 65px;
    width: 100%;
    display: flex;
    text-align: center;
    font-family: monospace;
    font-size: 17px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.color-box.three-color {
    width: 60%;
}

.color-box.four-color {
    width: 80%;
}

.color {
    width: 10px;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 7px;
    border-radius: 15px;
    font-weight: bold;
}

.black-text {
    color: black;
}

.color.black-text a {
    text-decoration: none;
    color: black;
}

.grey-text {
    color: #dfe0df;
}

.color.grey-text a {
    text-decoration: none;
    color: #dfe0df;
}

#color-one {
    background-color: #f37d00;
    margin-left: 0;
}

#color-two {
    background-color: #534439;
}

#color-three {
    background-color: #bba89b;
}

#color-four {
    background-color: #00b951;
}

#color-five {
    background-color: #00811e;
    margin-right: 0;
}

#color-six {
    background-color: #653d1e;
    margin-left: 0;
}

#color-seven {
    background-color: #dfe0df;
}

#color-eight {
    background-color: #402e32;
    margin-right: 0;
}

#color-nine {
    background-color: #00b951;
    margin-left: 0;
}

#color-ten {
    background-color: #0078de;
}

#color-eleven {
    background-color: #00811e;
}

#color-twelve {
    background-color: #094a75;
    margin-right: 0;
}