body {
    box-sizing: content-box;
    font-family: 'Catamaran', sans-serif;
    font-size: 19px;
}

header {
    color: white;
    background-color: #534439;
    min-height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1 {
    font-size: 40px;
    font-weight: 800;
    text-align: center;
    width: fit-content;
}

h2 {
    font-size: 30px;
    font-weight: 700;
    margin-top: 35px;
    margin-bottom: 10px;
}

h3 {
    font-size: 23px;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 7px;
}

p {
    margin: 3px 0;
    line-height: 120%;
}

a:link {
    color: #00b951;
    text-decoration: none;
}

a:visited {
    color: #0078de;
}

a:hover {
    color: #00811e;
    text-decoration: underline;
    cursor: pointer;
}

a:active {
    color: #094a75;
}

main {
    max-width: 1000px;
    min-width: 400px;
    margin: auto;
    padding-top: 20px;
    padding-inline: 25px;
}

.color-group {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 14px;
}

.color-group li {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 65px;
    width: 180px;
    font-family: monospace;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    border-radius: 15px;
}

.grey-text {
    color: #dfe0df;
}

#color-one {
    background-color: #f37d00;
}

#color-two {
    background-color: #534439;
}

#color-three {
    background-color: #bba89b;
}

#color-four {
    background-color: #00b951;
}

#color-five {
    background-color: #00811e;
}

#color-six {
    background-color: #653d1e;
}

#color-seven {
    background-color: #dfe0df;
}

#color-eight {
    background-color: #402e32;
}

#color-nine {
    background-color: #00b951;
}

#color-ten {
    background-color: #0078de;
}

#color-eleven {
    background-color: #00811e;
}

#color-twelve {
    background-color: #094a75;
}